html.no-js(lang="")
   head
      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatible" content="ie=edge")
      title GBR's CryptoCurrency responsive webpage
      meta(name="description" content="")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="shortcut icon" type="image/png" href="assets/images/favicon.png")
      link(rel="stylesheet" href="assets/css/bootstrap.min.css")
      // animate css
      link(rel="stylesheet" href="assets/css/animate.css")
      // owl.carousel.2.0.0-beta.2.4 css
      link(rel="stylesheet" href="assets/css/owl.carousel.min.css")
      // swiper.min.css
      link(rel="stylesheet" href="assets/css/swiper.min.css")
      // font-awesome v4.6.3 css
      link(rel="stylesheet" href="assets/css/font-awesome.min.css")
      // flaticon.css
      link(rel="stylesheet" href="assets/css/flaticon.css")
      // magnific-popup.css
      link(rel="stylesheet" href="assets/css/magnific-popup.css")
      // metisMenu.min.css
      link(rel="stylesheet" href="assets/css/metisMenu.min.css")
      // style css
      link(rel="stylesheet" href="assets/css/styles.css")
      // responsive css
      link(rel="stylesheet" href="assets/css/responsive.css")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      
      link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
      //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
      // modernizr css
      script(src="assets/js/vendor/modernizr-2.8.3.min.js")
    
   body
      // header-area start
      header.header-area.header-area2
         .header-bottom.bg-0
            .container-fluid
               .row
                  .col-lg-3.col-sm-3.col-8
                     .logo
                        a(href="#")
                           img.imm(src="assets/images/2.png" alt="")
                           span.shimmer CryptoCurrency
                  .col-lg-7.col-sm-7.d-none.d-lg-block
                     ul.mainmenu.d-flex.justify-content-end
                        li.active
                           a(href="javascript:void(0);") Home
                        li
                           a(href="#") about us
                        li
                           a(href="javascript:void(0);") pages
                           ul
                              li
                                 a(href="#") Service Page
                              li
                                 a(href="#") Service Details
                              li
                                 a(href="#") Shop page
                        li
                           a(href="#") blog
                           ul
                              li
                                 a(href="#") Blog page
                              li
                                 a(href="#") Blog Left
                              li
                                 a(href="#") Blog right
                              li
                                 a(href="#") Blog Details
                        li
                           a#contact contact
                           #contactForm
                              h1 Keep in touch!
                              small I'll get back to you as quickly as possible
                              form(action="#")
                              input(placeholder="Name" type="text" required="")
                              input(placeholder="Email" type="email" required="")
                              input(placeholder="Subject" type="text" required="")
                              textarea(placeholder="Comment")
                              #outerbtn
                                 .innerbtn
                                    input.formBtn1(type="submit")
                                 .innerbtn
                                    input.formBtn2(type="reset")
                  .d-block.d-lg-none.col-3.pull-right.col-sm-2
                     ul.menu
                        li.first
                        li.second
                        li.third
                  .col-lg-2.col-sm-3.col-12
                     .geta_quote
                        .footer-widget.footer-logo
                           form(action="#")
                              input(type="text" placeholder="Enter your email")
                              button subscribe
            .responsive-menu-area.d-block.d-sm-none
               .container
                  .row
                     .col-12
                        ul.metismenu
                           li.sidemenu-items
                              a(href="javascript:void(0);") Home
                              //- ul(aria-expanded="false")
                           li
                              a(href="about.html") about us
                           li
                              a.has-arrow(aria-expanded="false" href="javascript:void(0);") pages
                              ul
                                 li
                                    a(href="#") Service Page
                                 li
                                    a(href="#") Service Details
                                 li
                                    a(href="#") Shop page
                           li
                              a.has-arrow(aria-expanded="false" href="#") blog
                              ul
                                 li
                                    a(href="#") Blog page
                                 li
                                    a(href="#") Blog Left
                                 li
                                    a(href="#") Blog right
                                 li
                                    a(href="#") Blog Details
                        
      // header-area end
      // slider-area start
      .slider-area.slider-area2
         .slider-active.owl-carousel
            .slider-items
               img.slider(src="assets/images/slider/t.jpg" alt="")
               .slider-content.flex-style.text-center
                  .container
                     .row
                        .col-12
                           h2
                              span We Are 
                              | Cryptocurrency Service
                           p
                              | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                           ul
                              li
                                 a(href="#") Read more
                              li
                                 a(href="#") JOIN NOW
            .slider-items
               img.slider(src="assets/images/slider/2.jpg" alt="")
               .slider-content.flex-style.text-center
                  .container
                     .row
                        .col-12
                           h2
                              span We Are 
                              | Cryptocurrency Service
                           p
                              | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                           ul
                              li
                                 a(href="#") Read more
                              li
                                 a(href="#") JOIN NOW
            .slider-items
               img.slider(src="assets/images/about/e.jpg" alt="")
               .slider-content.flex-style
                  .container
                     .row
                        .text-center.col-12
                           h2
                              span We Are 
                              | Cryptocurrency Service
                           p
                              | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                           ul
                              li
                                 a(href="#") Read more
                              li
                                 a(href="#") JOIN NOW
      // slider-area end
      // featured-area start
      .featured-area.featured-area2
         .container
            .row
               .col-12
                  .featured-wrapper
                     .row
                        .col-lg-4.col-sm-6.col-12
                           .featured-wrap
                              .featured-img
                                 img(src="assets/images/featured/b.png" alt="")
                              h2
                                 a(href="#") Personalized
                              p
                                 | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        .col-lg-4.col-sm-6.col-12
                           .featured-wrap
                              .featured-img
                                 img(src="assets/images/featured/a.jpg" alt="")
                              h2
                                 a(href="#") Behind The Screen
                              p
                                 | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        .col-lg-4.col-sm-6.col-12
                           .featured-wrap.mb-0
                              .featured-img
                                 img(src="assets/images/featured/c.jpg" alt="")
                              h2
                                 a(href="#") Time Saver
                              p
                                 | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
      // featured-area end
      // about-area start
      .about-area.position-relative
         .container-fluid
            .row
               .col-12.d-block
                  .section-title.text-center
                     h2 About Bitcoin
            .row
               .col-lg-6.d-block
                  .about-img
                     img.hh(src="assets/images/about/d.jpg" alt="")
               .col-lg-6.col-12
                  .about-content
                     h3
                        | Minimum purchase is 50 Coins tokens. Get a bonus from 5% to 25% on every token purchase
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                  .row
                     .col-sm-3.col-6
                        .about-items
                           img(src="assets/images/about/icon/1.png" alt="")
                           span.counter 1454
                           p Support Country
                     .col-sm-3.col-6
                        .about-items
                           img(src="assets/images/about/icon/2.png" alt="")
                           span.counter 759
                           p Bank Support
                     .col-sm-3.col-6
                        .about-items.mb-0
                           img(src="assets/images/about/icon/3.png" alt="")
                           span.counter 1250
                           p BitCoin ATMs
                     .col-sm-3.col-6
                        .about-items.mb-0
                           img(src="assets/images/about/icon/4.png" alt="")
                           span.counter 2391
                           p Producers Ready
      // about-area end
      // service-area start
      .service-area
         .container-fluid
            .row
               .col-12
                  .section-title.text-center
                     h2 Why to choose us ?
                     img.ic1(src="assets/images/a.png" alt="")
            .row
               .col-lg-4.col-md-6.col-12
                  .service-wrap
                     h3 What We Offer
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                     a(href="#") Free Consultation
               .col-lg-4.col-md-6.col-12
                  .service-items
                     span.flaticon-bitcoin-9
                     h3 Safe And Secure
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                  .service-items
                     span.flaticon-profits
                     h3 Instant Exchange
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
               .col-lg-4.col-12
                  .row
                     .col-lg-12.col-md-6.col-12
                        .service-items
                           span.flaticon-exchange-1
                           h3 Secure Wallet
                           p
                              | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                     .col-lg-12.col-md-6.col-12
                        .service-items
                           span.flaticon-bitcoin-7
                           h3 Experts Support
                           p
                              | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
      // service-area end
      // resorce-area start
      .resorce-area.bg-2
         .container-fluid
            .row
               .col-12
                  h1.header1 Cryptocurrency live data
                  .container
                     .row
                        .col-12               
                           .center
                              .phone
                              .time.stats 00:00:00 AM
                              #app
      // calculate-area start
      .calculate-area
         .container
            .row
               .col-lg-8
                  .calculate-wrap
                     h2 Currency Calculator  
                     p
                        | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                     ul
                        li
                           input(type="text" placeholder="1")
                        li
                           p BTC 
                        li(style="color:aqua") =
                        li
                           p 14,150,588 
                        li
                           select(name="select")
                              option(value="inr") inr
                              option(value="etc") ect
                              option(value="btc") btc
                              option(value="inr") inr
                              option(value="etc") ect
                              option(value="btc") btc
      // calculate-area start
      // team-area start
      .team-area
         .container-fluid
            .row
               .col-12
                  .section-title.text-center
                     h2 Our Team members
                     img.ic2(src="assets/images/a.png" alt="")
            .row
               .col-lg-3.col-sm-6.col-12
                  .team-wrap
                     .team-img
                        img(src="assets/images/team/1.jpg" alt="")
                     .team-content
                        h4 Srinivas
                        p UX / Web Designer
                        ul
                           li
                              a(href="#")
                                 i.fa.fa-facebook
                           li
                              a(href="#")
                                 i.fa.fa-twitter
                           li
                              a(href="#")
                                 i.fa.fa-google-plus
                           li
                              a(href="#")
                                 i.fa.fa-linkedin
               .col-lg-3.col-sm-6.col-12
                  .team-wrap
                     .team-img
                        img(src="assets/images/team/2.jpg" alt="")
                     .team-content
                        h4 Anuradha
                        p Web Developer
                        ul
                           li
                              a(href="#")
                                 i.fa.fa-facebook
                           li
                              a(href="#")
                                 i.fa.fa-twitter
                           li
                              a(href="#")
                                 i.fa.fa-google-plus
                           li
                              a(href="#")
                                 i.fa.fa-linkedin
               .col-lg-3.col-sm-6.col-12
                  .team-wrap
                     .team-img
                        img(src="assets/images/team/3.jpg" alt="")
                     .team-content
                        h4 Bhargava
                        p Marketing Developer
                        ul
                           li
                              a(href="#")
                                 i.fa.fa-facebook
                           li
                              a(href="#")
                                 i.fa.fa-twitter
                           li
                              a(href="#")
                                 i.fa.fa-google-plus
                           li
                              a(href="#")
                                 i.fa.fa-linkedin
               .col-lg-3.col-sm-6.col-12
                  .team-wrap
                     .team-img
                        img(src="assets/images/team/4.jpg" alt="")
                     .team-content
                        h4 Supriya
                        p Apps Developer
                        ul
                           li
                              a(href="#")
                                 i.fa.fa-facebook
                           li
                              a(href="#")
                                 i.fa.fa-twitter
                           li
                              a(href="#")
                                 i.fa.fa-google-plus
                           li
                              a(href="#")
                                 i.fa.fa-linkedin
      // team-area end
      // nvestments-area start
      .nvestments-area.position-relative
         .container
            .row
               .col-lg-5.d-none.d-lg-block
                  .nvestments-img
                     img(src="assets/images/bg/a.png" alt="")
               .col-lg-7.col-12
                  .contact-wrap.flex-style
                     h2 Make a call request
                     form(action="#")
                        .row
                           .col-sm-6.col-12
                              input(type="text" placeholder="Name")
                           .col-sm-6.col-12
                              input(type="email" placeholder="Email")
                           .col-sm-6.col-12
                              input(type="text" placeholder="Phone")
                           .col-sm-6.col-12
                              input(type="text" placeholder="Subject")
                           .col-12
                              textarea(cols="30" rows="10" placeholder="Message")
                           .col-12
                              button Submit Now
      // nvestments-area end
      // blog-area start
      .blog-area
         .container-fluid
            .row
               .col-12
                  .section-title.text-center
                     h2 Our latest news
                     img.ic3(src="assets/images/a.png" alt="")
            .row
               .col-lg-3.col-sm-6.col-12
                  .blog-wrap
                     .blog-img
                        img(src="assets/images/blog/5.jpg" alt="")
                     .blog-content
                        h3
                           a(href="blog-details.html") Digital Market Moved To Their New Office
                        ul
                           li
                              a(href="#") Bhargava Gidijala
                           li
                              a(href="#") 2 Jan, 2021
                           li
                              a(href="#") Latest News
                        p
                           | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        a.readmore(href="blog-details.html")
                           | Read More 
                           i.fa.fa-angle-double-right
               .col-lg-3.col-sm-6.col-12
                  .blog-wrap
                     .blog-img
                        img(src="assets/images/blog/2.jpg" alt="")
                     .blog-content
                        h3
                           a(href="blog-details.html") Welcome To Our New Head Of Production
                        ul
                           li
                              a(href="#") Bhargava Gidijala
                           li
                              a(href="#") 2 Jan, 2021
                           li
                              a(href="#") Latest News
                        p
                           | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        a.readmore(href="blog-details.html")
                           | Read More 
                           i.fa.fa-angle-double-right
               .col-lg-3.col-sm-6.col-12
                  .blog-wrap
                     .blog-img
                        img(src="assets/images/blog/4.jpg" alt="")
                     .blog-content
                        h3
                           a(href="blog-details.html") Welcome To Our New Head Of Production
                        ul
                           li
                              a(href="#") Bhargava Gidijala
                           li
                              a(href="#") 2 Jan, 2021
                           li
                              a(href="#") Latest News
                        p
                           | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        a.readmore(href="blog-details.html")
                           | Read More 
                           i.fa.fa-angle-double-right
               .col-lg-3.col-sm-6.col-12
                  .blog-wrap
                     .blog-img
                        img(src="assets/images/blog/3.jpg" alt="")
                     .blog-content
                        h3
                           a(href="blog-details.html") Welcome To Our New Head Of Production
                        ul
                           li
                              a(href="#") Bhargava Gidijala
                           li
                              a(href="#") 2 Jan, 2021
                           li
                              a(href="#") Latest News
                        p
                           | Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...Cryptocurrency is a stock exchange marker of currency like bitcoin, eth, xrp, etc...
                        a.readmore(href="blog-details.html")
                           | Read More 
                           i.fa.fa-angle-double-right              
      // blog-area end
      // footer-area start
      footer.footer-area.pt-5         
         .container-fluid
            .row
               .col-lg-3.col-sm-12.col-12.mt-5.mb-5(style="border-right:2px solid aqua;")
                  .footer-widget.footer-logo
                     h3 About designer
                     p Hi im 
                        span(style="color:#ff7700") Bhargava Gidijala 
                        | Student and designer of this site!
                        | Im an MCA Graduate from JNTUK Interested in learning new technolgy
                        | Where Web-designing is one of my hobby
                  
               .col-lg-3.col-sm-12.col-12.mt-5.mb-5(style="border-right:2px solid aqua;")
                  .footer-widget.footer-menu
                     h3 Our Services
                     ul
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Crypto currency Investments
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Customer service Insights
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Bitcoin Analytics
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Bitcoin Exchange
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Bitcoin Exchange
                        li
                           a(href="#")
                              i.fa.fa-angle-double-right
                              |  Providing Business Consulting
               .col-lg-3.col-sm-12.col-12.mt-5.mb-5(style="border-right:2px solid aqua;")
                  .footer-widget.footer-twitter
                     h3 Social media links
                     ul
                        li
                           a(href="https://www.linkedin.com/in/bhargavagidijala/")
                              i.fab.fa-linkedin-in
                              | Visit my linkedIn profile
                        li.mb-0
                           a(href="https://wa.link/qp7fh6")
                              i.fab.fa-whatsapp
                              | Click here for whatsapp chat
               .col-lg-3.col-sm-12.col-12.mt-5.mb-5
                  .footer-widget.footer-contact
                     h3 Contact Information
                     ul.footer-contact-info
                        li
                           span Location : 
                           | Kakinada, Andhra Pradesh
                        li
                           span Email : 
                           |  mcababu1820@gmail.com
                        li
                           span Phone : 
                           |  949XXXXX56
                        h5 other links
                        ul.social-icon.d-flex
                           li.facebook
                              a(href="https://stackoverflow.com/users/12846736/bhargava-gidijala")
                                 i.fab.fa-stack-overflow
                           li.twitter
                              a(href="https://www.instagram.com/bhargava_gidijala/")
                                 i.fab.fa-instagram
                           li.google-plus
                              a(href="https://github.com/bhargavaGidijala-123")
                                 i.fab.fa-github
                           li.youtube
                              a(href="https://www.youtube.com/channel/UCVaCAi-tGfNxVJCg5HLoIHw")
                                 i.fab.fa-youtube
                           li.linkedin
                              a(href="#")
                                 i.fab.fa-facebook
      .foot.col-12
         h5 Copyright&#169; BhargavaGidijala KKD, Inc. All Rights Reserved. Terms of use | Privacy policy - REVISED.

      // footer-area end
      // jquery latest version
      script(src="assets/js/vendor/jquery-2.2.4.min.js ")
      // popper.min.js
      script(src="assets/js/vendor/popper.min.js ")
      // bootstrap js
      script(src="assets/js/bootstrap.min.js ")
      // owl.carousel.2.0.0-beta.2.4 css
      script(src="assets/js/owl.carousel.min.js ")
      // swiper.min.js
      script(src="assets/js/swiper.min.js ")
      // mailchimp.js
      script(src="assets/js/mailchimp.js")
      // plugins js
      script(src="assets/js/jquery.canvasjs.min.js")
      // metisMenu.min.js
      script(src="assets/js/metisMenu.min.js")
      // plugins js
      script(src="assets/js/plugins.js ")
      //- currency table scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.production.min.js")
      script(src="javascripts/black_mobile.js")
      
      script.
         // chart
         window.onload = function () {
         var limit = 10000;    //increase number of dataPoints by increasing the limit
         var y = 100;
         var data = [];
         var dataSeries = { type: "line" };
         var dataPoints = [];
         for (var i = 0; i < limit; i += 1) {
         y += Math.round(Math.random() * 10 - 5);
         dataPoints.push({
         x: i,
         y: y
         });
         }
         dataSeries.dataPoints = dataPoints;
         data.push(dataSeries);
         //Better to construct options first and then pass it as a parameter
         var options = {
         zoomEnabled: true,
         animationEnabled: true,
         axisY: {
         includeZero: false
         },
         data: data  // random data
         };
         $("#chartContainer").CanvasJSChart(options);
         }

      script.
         $(function() {
         // contact form animations
         $('#contact').click(function() {
         $('#contactForm').fadeToggle();
         })
         $(document).mouseup(function (e) {
         var container = $("#contactForm");
         if (!container.is(e.target) // if the target of the click isn't the container...
         && container.has(e.target).length === 0) // ... nor a descendant of the container
         {
         container.fadeOut();
         }
         });
         });
     
      script.
         window.onload = function() {
         document.addEventListener("contextmenu", function(e){
         e.preventDefault();
         }, false);
         document.addEventListener("keydown", function(e) {
         // "J" key
         if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
         alert('not allowed');
         disabledEvent(e);
         }
         // "F12" key
         if (event.keyCode == 123) {
         alert('Too smart!\nBut you are not allowed for this action');
         disabledEvent(e);
         }
         }, false);
         function disabledEvent(e){
         if (e.stopPropagation){
         e.stopPropagation();
         } else if (window.event){
         window.event.cancelBubble = true;
         }
         e.preventDefault();
         return false;
         }
         };
      
      script.
         document.onkeydown = function(e) 
         {
         if (e.ctrlKey && (e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 73 || e.keyCode === 85 || e.keyCode === 117)) 
            {
               alert('Too smart!\nBut you are not allowed for this action');
               return false;
            } 
         else 
            {
               return true;
            }
         };
      // main js
      script(src="assets/js/scripts.js ")
